[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-environ = "*"
psycopg2-binary = "*"
django-on-heroku = "*"
gunicorn = "*"
django-cors-headers = "*"
django-debug-toolbar = "*"
django-extensions = "*"
djoser = "*"
django-annoying = "*"
pillow = "*"
boto3 = "*"
django-storages = "*"
pipfile = "*"

[dev-packages]

[requires]
python_version = "3.9"
